.Note {
  padding: 15px 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid var(--text-color1);
  background-color: var(--main-color3);
  -webkit-box-shadow: 0px 2px 13px 1px rgba(12, 19, 24, 0.48);
  -moz-box-shadow: 0px 2px 13px 1px rgba(12, 19, 24, 0.48);
  box-shadow: 0px 2px 13px 1px rgba(12, 19, 24, 0.48);
}
.form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.title {
  font-size: 20px;
  color: var(--text-color1);
  margin-bottom: 10px;
  margin: 0; 
  -webkit-line-clamp: 2; 
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  overflow: hidden;
}
.btnWrapper {
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
}
.textarea {
  resize: vertical;
  max-height: 100px;
  min-height: 40px;
  padding: 5px;
  font-size: 18px;
  border-radius: 3px;
  border: none;
  width: 100%;
  flex-grow: 1;
  margin-right: 20px;
  margin-bottom: 10px;
}
.textareaError {
  border: 2px solid var(--error-color);
}
.errorMessage {
  color: var(--error-color);
}
.btnEdit {
  margin-right: 20px;
  color: var(--main-color2);
  border: 1px solid var(--text-color1);
  background-color: var(--text-color1);
  &:hover {
    background-color: var(--main-color2);
    color: var(--text-color1);
  }
}
.btnRemove{
  background-color: var(--text-color1);
  color: var(--error-color);
  &:hover {
    background-color: var(--error-color);
    color: var(--text-color1);
  }
}
.content {

}
.tegsWrapper {
  list-style-type: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.editWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
@media (max-width: 576px) { 
  .form {
    flex-direction: column;
  }
  .btnWrapper {
    margin-top: 20px;
  }
  .Note {
    padding: 20px 20px;
  }
  .input {
    margin-right: 0px;
  }
}