:root {
  --main-color1: #b5884d;
  --main-color2: #6aafc8;
  --main-color3: #e76a6a;
  --text-color1: #ffffff;
  --highlight: rgb(243, 231, 66);
  --error-color: rgb(184, 25, 25);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  background-color: var(--main-color1);
  min-height: 100vh;
  min-width: 100vw;
}
.btn {
  display: flex;
  gap: 10px;
  padding: 5px 15px;
  border-radius: 3px;
  font-size: 18px;
  border: none;
  background-color: transparent;
  border: 1px solid var(--text-color1);
  color: var(--text-color1);
  transition: background-color 0.2s, color 0.2s, transform 0.2s;
  cursor: pointer;
  &:disabled {
    transform: scale(0.9);
    opacity: 0.7;
  }
}
.highLight {
  font-style: italic;
  color: var(--highlight);
}
.networkError {
  color: var(--text-color1);
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 20px;
}
.loading {
  color: var(--text-color1);
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 20px;
}

.blink {
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
 
@keyframes blinker {
  0% { opacity: 1; }
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}