.container {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.content {

}
@media (min-width: 1024px) { 
  .container {
    max-width: 740px;
  }
}
// @media (min-width: 1440px) { 
//   .container {
//     grid-template-columns: repeat(4, 280px);
//   }
// }